[submodule "themes/anemone"]
	path = themes/anemone
	url = https://github.com/Speyll/anemone
[submodule "content/themes/anemone"]
	path = content/themes/anemone
	url = https://github.com/Speyll/anemone
